*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family: sans-serif
}
.banner{
    width: 100vh;
    height: 500px;
    background: rgb(4, 8, 63)
}
.banner__shadow{

}
.shadow{
    width: 50%;
    height: 480px;
    
}
.main{
   color: white; \
   text-align: center;
}
.inp{
    padding-left: 5px;
    width: 150px;
    height: 50px;
    margin-left: 15px;
    background: white;
    color: black;
    
}
}
.inp2{
    padding-left: 5px;
    width: 150px;
    height: 50px;
    margin-left: 15px;
    background: white;
    color: black;
    padding-left: 200px;

}
.inp3{
margin-top: 10px;  
padding-left: 15px;
margin-left: 15px;

}
.inp4{

}
.inp5{
    width: 550px;
    height: 85px;
    margin-top: 15px; 
    margin-left: 30px;
}
.btn{
    width: 550px;
    height: 43px;
    margin-top: 17px;
    margin-left:30px;
    background: rgb(245, 167, 23); 
    color: white;
}
.mein{
    display: flex;
    width: 100vh;
    height: 600px; 
    border: 1px solid white;
    background: rgb(4, 4, 85);
    color: white;
    gap: 30px;
}
.company{
    width: 130px;
    height: 200px;
    line-height: 28px;
    gap: 30px;
}
.comp{
    color: orange;
}
.contact{
    width: 130px;
    height: 200px;
    gap: 30px;
    list-style: none;
    line-height: 27px;
}
.con{
    color: orange;
}
  .opening{
      width: 130px;
      height: 200px;
      list-style: none;
      line-height: 30px;
  }
  .openi{
      color: orange;
  }
  .Newsletter{
  width: 130px;
  height: 200px;
  line-height: 28px;
     list-style: none;
  }
.inpat{
    width: 130px;
    height: 27px;
    padding-left: 10px;
    border: 2px black;
}
.news{
    color: orange;
}
.letter{
    list-style: none;
}